.babyshower h2{
  font-weight: bold;
  color:#1A2394;
}
.babyshower p{
/* >>>>>>> Stashed changes */
    color: #d3d3d3; /* Light gray for text */
  }
  
.bi {
    color: #00acee; /* Customize icon color */
  }

  .babyshower .card-body .btn{
    background-color: #28a745;
  }
  .babyshower{
    background-color: #F2FAFA;
}