.birthday{
   background-color: #F2FAFA;
}
.birthday .btn {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
  }
.birthday h2{
    font-weight: bold;
    color:#1A2394;
  }
  .vediosection{
    background-color: #1D1D3F;
   
  }
  .form h2{
    color:#1A2394;
    font-weight: bold;
  }

  .form {
    background-color: #fff;
    border-radius: 10px; /* Rounded corners */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover effect for shadow */
  }
  