.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}
.wedding{
  background-color: #F2FAFA;
}
.wedding .btn {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
}

.wedding .btn:hover {
  background-color: #28a745;
}

.wedding .pagination .page-link {
  color: #28a745;
}
.wedding h2{
  font-weight: bold;
  color:#1A2394;
}
.form h2{
  font-weight: bold;

}
