.imgl2 {
    width: 190px;
    height: auto;
  }

  
  
  .nav-link {
    font-weight: bold;
  }
  
  .navbar {
    background-color: #343a40; /* Dark background */
  }
  
  .navbar .text-light {
    font-size: 14px;
  }
  .nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}
.phonenum{
  font-weight: bold;
  color: black;
}