.navbar-brand img {
    width: 40px;
    height: auto;
  }
  
  .nav-link {
    font-weight: bold;
  }
  
  .navbar {
    background-color: #343a40; /* Dark background */
  }
  
  .navbar .text-light {
    font-size: 14px;
  }
  