/* Navbar Styles */
.navbar {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 45px;
  width: auto;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  transition: color 0.3s;
}

/* Navbar.css */
.nav-link.active {
  font-weight: bold;
  color: #ff5100; /* Change color to your preference */
}




.phonenum {
  font-size: 16px;
  font-weight: 500;
  color: #be2323;
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 40px;
  }
}
