/* General styling for the navbar */
.navbar {
    padding: 0.5rem 1rem;
}

/* Style for the links */
.nav-link,
.social-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none;
}

/* Hover effect for all links */
.nav-link:hover,
.social-link:hover {
    color:#C33F54 !important;
}

/* Add underline on click */
.underline {
    text-decoration: underline !important;
}
